<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <title>Modificar</title>
</head>
<body>
    <p>Modifica los datos del CURSO:</p>
    <form action="{{ url_for('modificar', item_index=item_index) }}" method="POST">
        <table>
            <tr>
                <td>Fecha:</td>
                <td><input type="date" name="fecha" value="{{ item.fecha }}" required></td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td><input type="text" name="nombre" value="{{ item.nombre }}" required></td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td><input type="text" name="apellido" value="{{ item.apellido }}" required></td>
            </tr>
            <tr>
                <td>Turno:</td>
                <td>
                    <input type="radio" id="turno-mañana" name="turno" value="mañana" {% if item.turno == 'mañana' %}checked{% endif %} required>
                    <label for="turno-mañana">Mañana</label><br>
                    <input type="radio" id="turno-tarde" name="turno" value="tarde" {% if item.turno == 'tarde' %}checked{% endif %} required>
                    <label for="turno-tarde">Tarde</label><br>
                    <input type="radio" id="turno-noche" name="turno" value="noche" {% if item.turno == 'noche' %}checked{% endif %} required>
                    <label for="turno-noche">Noche</label>
                </td>
            </tr>
            <tr>
                <td>Seminario:</td>
                <td>
                    <input type="checkbox" id="seminario-1" name="seminario" value="Inteligencia artificial" {% if 'Inteligencia artificial' in item.seminario %}checked{% endif %}>
                    <label for="seminario-1">Inteligencia artificial</label><br>
                    
                    <input type="checkbox" id="seminario-2" name="seminario" value="Machine Learning" {% if 'Machine Learning' in item.seminario %}checked{% endif %}>
                    <label for="seminario-2">Machine Learning</label><br>
                    
                    <input type="checkbox" id="seminario-3" name="seminario" value="Simulacion de Area" {% if 'Simulacion de Area' in item.seminario %}checked{% endif %}>
                    <label for="seminario-3">Simulacion de Area</label><br>
                    
                    <input type="checkbox" id="seminario-4" name="seminario" value="Robotica Infantil" {% if 'Robotica Infantil' in item.seminario %}checked{% endif %}>
                    <label for="seminario-4">Robotica Infantil</label><br>
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Guardar cambios"></td>
            </tr>
        </table>
    </form>
</body>
</html>
